html {
    scroll-behavior: smooth;
  }

.header{
    width: 100%;
    height: 100vh;
    background-image: url('adi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.navi{
    padding: 10px;
}

a{
    text-decoration: none!important;
}

.contact{
    font-family: 'Raleway', sans-serif;
    padding: 25px 0;
    color: white;
    /* height: 100vh; */
    background: rgb(0, 0, 0);;
}
.skills{
    font-family: 'Raleway', sans-serif;
    background: rgb(51, 42, 42);
    padding: 100px 0;
    color: white;
    /* margin-bottom: 50px; */
    height: 100vh;
    background-size: cover;
    /* text-align: center; */

}
/* .intro button{
    width: 7cm;
} */
.aboutme h2{
   
    font-size: 20mm!important;
    opacity: 0.6;
    color: white;
    position: relative;
    top: 50px;
    margin-left: 50px;
    font-family: 'Raleway', sans-serif!important;
    padding: 50px;
}

.aboutme p{
    word-spacing: 0.5rem;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    width: 50%;
    margin-top: 50px;
    padding: 30px;
    margin-left: 50px;
    color: white;
    
    background-image: linear-gradient(rgba(39, 41, 43, 0.4), rgba(44, 47, 51, 0.4));

}
.aboutme p:hover{
    box-shadow: 0 0 50px 0 rgba(18, 247, 106, 0.3);
    transform: translateY(-20px);
}

.aboutme{
    height: 100vh;
    background-image: url('sh.jpg');
    width: 100%;
    /* background-color: rgb(0, 0, 0); */
    align-content: center;
    font-family: 'Raleway', sans-serif!important;
}
/* .profilepic{
    position: relative;
    top: -15cm;
    left: 58%;
} */
.aboutme img{
    width: 40%;
    height: 50vh;
    position: relative;
    left: 55%;
    top: -9cm;
}

.aboutme button{
    position: relative;
    top: -2cm;
    align-content: center;
    

}


.intro{
        background-image: linear-gradient(rgba(126, 38, 38, 0.4), rgba(163, 45, 37, 0.4));
        width: 50%;
        margin-top: 25%;
        margin-left: 25%;
        padding: 20px;
        text-align: center;
        font-family: 'Raleway', sans-serif;
    
    }
.header-extradiv{
    width: 100%; height: auto;
    margin: 50px 0;
    text-align: center;

}
.extra-div:hover{
    box-shadow: 0 0 50px 0 rgba(255, 255, 255, 0.3);
    transform: translateY(-20px);
    }


.servicediv-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress{
    margin-bottom: 25px!important;
}
